extends layouts/login_main.pug

block content
	div(class="uk-container uk-position-center uk-overlay uk-overlay-primary uk-text-center")
		h1(class="uk-text-danger") An error has occurred
		h2 This should not have happened and our server must be punished
		a(href="/")
			h4 Blow it up

		hr
		h4 Applicable error, if any:
		p= code
		p= message


		